<div class="ant-row">
  <div class="ant-col ant-col-6"><app-role-list></app-role-list></div>
  <div class="ant-col ant-col-18">
    <nz-table>
      <thead>
        <tr>
          <th>用户</th>
          <th>Email</th>
          <th>Email已确认</th>
          <th>电话</th>
          <th>已锁定</th>
          <th>锁定时间</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users|async">
          <td>{{user.UserName}}</td>
          <td>{{user.Email}}</td>
          <td></td>
          <td>{{user.PhoneNumber}}</td>
          <td></td>
          <td>{{user.LockoutEnd|date:'yyy-dd-MM hh:mm:ss'}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
