/* You can add global styles to this file, and also import other style files */
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.ng-valid:not(form).ng-touched {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form).ng-touched {
  border-left: 5px solid #a94442; /* red */
}
