<div class="row">
  <div class="col-3" app-role-list>
  </div>
  <div class="col-9">
    <table class="table">
      <thead>
        <tr>
          <th>用户</th>
          <th>Email</th>
          <th>Email已确认</th>
          <th>电话</th>
          <th>已锁定</th>
          <th>锁定时间</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users|async">
          <td>{{user.UserName}}</td>
          <td>{{user.Email}}</td>
          <td></td>
          <td>{{user.PhoneNumber}}</td>
          <td></td>
          <td>{{user.LockoutEnd|date:'yyy-dd-MM hh:mm:ss'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
