<form [formGroup]="loginForm" class="login-form ant-form ant-form-horizontal" (submit)="onSubmit()">
  <div class="ant-row ant-form-item">
    <div class="ant-form-item-control ant-col">
      <input type="text" class="ant-input" formControlName="userName" placeholder="用户" />
    </div>
  </div>
  <div class="ant-row ant-form-item">
    <div class="ant-form-item-control ant-col">
      <input type="password" class="ant-input" formControlName="password" placeholder="密码" />
    </div>
  </div>
  <button class="ant-btn login-form-button login-form-margin ant-btn-primary">登录</button>
</form>
